@{
    ViewBag.Title = "Acerca de";
}
<h1>@ViewBag.Title.</h1>

<h3>Esta pagina web es un asistente de blogs que permitira a los usuarios crear blogs con facilidad.<br><br />
    Contiene un sistema que permite a los usuarios crear blogs una vez se registren y accedan a su cuenta, <br />
    una vez accedan, simplemente deben presionar el boton crear y se les permitira crear un blog poniendole <br />
    titulo y una descripcion, que no tiene un limite especifico de caracteres, lo cual permite al usuario <br />
    ser lo mas creativo que desee. </h3>
