@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Luis Perez<br />
    2015-2749<br />
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:20152749@itla.edu.do.com">20152749@itla.edu.do</a><br />
</address>